@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.eot');
    src: url('../fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Black.woff2') format('woff2'),
        url('../fonts/Merriweather-Black.woff') format('woff'),
        url('../fonts/Merriweather-Black.ttf') format('truetype'),
        url('../fonts/Merriweather-Black.svg#Merriweather-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.eot');
    src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype'),
        url('../fonts/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Merriweather-Regular';
    font-size: 16px;
    
}

.no-mobile{
    display: none;
}

.desktop{
    display: none;
}

/* header section start */
header, nav{
    background-color: black;
    
}

#underlay-btn-txt{
    display: flex;
    align-items: center;
    z-index: 1;
    /* background-color: aqua; */
}

.mobile-tab-id{
    display:none;
}
#button img {
    margin-left: 25px;
    cursor: pointer;
   
 }

#button img.burger {
    transform: rotate(90deg);
 }

 #burger-con.opaque-toggle {
    display: block;
    animation: menu-drop 1s;
 }
 @keyframes menu-drop {
    0% {
      bottom: 310px;
      opacity: 1;
    }
    
    100% {
        bottom: 0px;
        opacity: 1;
      }
  }

#burger-con{
    display: none;
    position: relative;
    max-height: 60vh;
    color:#fff;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    z-index:2;
    bottom:0px;
}

/* =============================== */
#menu-bar{
    height: 50px;
    background-color: #000000;
    
}
#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
 }
 
 #main-nav ul li a:hover {
    color: #F78627;;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
/*==================================== */
#menu-bar{
    display: grid;
    justify-content: center;
    align-items: center;
   
}

#main-nav{
    display: grid;
    /* height: 4em; */
    align-items: center;
   
}

#head-logo{
    position: relative;
    left: 65px;
   
}

#head-logo img{
    margin-left: 40px;
    cursor: pointer;
}
#head-logo h2{
    font-family:Georgia, 'Times New Roman', Times;
    font-weight: lighter;
    font-size: 0.9em;
    color: #F78627;
    letter-spacing: 0.09em;
    width:120px;
    margin-left: 80px;
}

#popup-footer{
    margin-top: 100px;
    display: grid;
    justify-items: center;
    margin-bottom: 30px;
}
#popup-footer p{
   font-style: italic;
   font-size: 10px;
   letter-spacing: 2px;
}

.profile-circle{
    display:none;
}
#cart-1{
    display:none;
}
/* header section end */

/* images for mobile */

.mobile-images {
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.mobile-images img {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
}




/* video css ------------------------------------------*/

.video-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  video {
    width: 100%;
    height: auto;
  }

/* learn more button ----------------------------------*/
#learn-more {
    background-color: #F78627;
    padding: 15px 20px;
    color: white;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    align-self: center;
}

#learn-more-desktop {
    background-color: #F78627;
    padding: 15px 20px;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
/* ----------------------------------------- */
#buy-now {
        background-color: #F78627;
        padding: 25px 25px;
        color: white;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        }

/* home */

.testy {
    margin-top: 40px;
    margin-bottom: 40px;
}

.right-side {
    margin-top: 40px;
}

    

/* Events Mobile */
.hero-container {
    position: relative;
    height: auto; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

#learn-more-desktop{
    display: none;
}

/* Styles for the main image */
.main-image {
    display: none;
}
/* collections */

.collect-p{
    margin: 20px;
    text-align: center;
}

.collect-pp{
    margin: 20px;
    text-align: right;
}

.collect-ppp{
    margin: 20px;
    text-align: left;
}

.line {
    height:6px;
    background-color: black;
    margin-top: 80px;
    margin-bottom: 40px;
}

#three-or {
    margin-top: 40px;
    position: relative;
    max-width: 100%;
   
}

#black {
    margin-top: 40px;

    position: relative;
}

#black img {
    width: 100%;
    height: auto; /* To maintain aspect ratio */
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.buy{
    margin-top: 80px;
    position: relative;
    left: 33%; /* Adjust the distance from the right as a percentage of the container width */
    justify-content: center;
}

.hh{
    font-size: 2rem;
    padding-bottom: 20px;
}

.product-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between grid items */
    justify-items: center; /* Center grid items horizontally */
    margin-top: 4 0px;
    padding: 20px;
}

.products {
    
    padding: 20px; /* Add padding to each product */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center image horizontally */
}

.products img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
}

.highlight {
    height: 4px;
    background-color: #F78627;
    flex: 1; /* Flex-grow: each highlight item takes up equal space */
    margin: 0 10px; /* Adjust spacing between highlight items */
}

.gre {
    background-color: #07F95C;
}

.pk{
    background-color: #FF68E6;
}

.blu{
   background-color: #0FE5F8;
}

.highlight-main {
    display: flex;
    justify-content: center; /* Center highlight items horizontally */
    margin-top: 20px; /* Adjust margin as needed */
    margin-bottom: 40px;
}

.bold {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  padding-top: 15px;
  border-right: solid 4px black;
}

.contact-us {
    margin: 40px;
    padding-top: 25px;
   
}

/* contact form */

#contact-us-main {
    margin-top: 80px ;
}

#contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 
 #contact .grid-con > div {
    width: 240px;
    margin: 0 auto;
 }


 #contact-hero-con .grid-con {
    /* tell other grid to live in middle column */
    grid-column: 2/3;
    /* also tell it to stay in first rown instead of another row below
    to allow overlap to happen */
    grid-row:1/1;	
    /* get rid of margin 0 auto from original class */
    margin: 0;
}

#contact-hero {
   object-fit: cover;
   /* First value controls the x-axis and the second value controls the y-axis,Default value:	50% 50% */
   object-position: center;
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid black;
   background-color: #f7f7f7;
   border-radius: 3px;
   margin-bottom: 30px;
   font: inherit;
   width: 100%;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form input[type="submit"] {
   padding: 15px 20px;
   background: #F78627;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   background-color: black;
   color: #F78627;
   border-radius: 0;
}



/* TABLET CSS STYLES START */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }

    .desktop{
        display: block;
    }

    /* events */

    .event-intro{
        text-align: center;
    }

    .fan-club{
        font-size: 3rem ;
        color: white;
        position: relative;
        top: 25%; /* Center vertically */
        left: 5%; /* Adjust the distance from the right as a percentage of the container width */
        transform: translateY(-50%); /* Center vertically */
        /* Adjust any other styles for tablet as needed */

    }

    .unleash{
        display: none;
    }

    .unleash-desktop{
        font-size: 1rem ;
        color: white;
        position: relative;
        top: 20%; /* Center vertically */
        left: 3%; /* Adjust the distance from the right as a percentage of the container width */
        transform: translateY(-50%); /* Center vertically */
        /* Adjust any other styles for tablet as needed */

    }

    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    }

    .hero-container {
        position: relative;
        height: 600px; /* Adjust height as needed */
        background-size: cover;
        background-position: center;
    }

    .main-image {
        display: block;
        /* Adjust the position of the main image as needed */
        top: 50%; /* Center vertically */
        right: 2%; /* Adjust the distance from the right as a percentage of the container width */
        transform: translateY(-50%); /* Center vertically */
        /* Adjust any other styles for tablet as needed */
        width: 100px;
        height: 100px;
        position: absolute; /* Ensure proper positioning */
    }

    #black img {
        width: 50%; /* Ensure the image takes up the full width */
        height: auto; /* Maintain aspect ratio */
    }

    #learn-more {
        display: none;
    /* Increase font size for better readability */
    }

    #learn-more-desktop {
        display: block;
        position: absolute;
        top: 66.8%; /* Adjust vertically as needed */
        left: 5%; /* Adjust horizontally as needed */
        transform: translateY(-50%); /* Center vertically */
        padding: 25px 45px; /* Increase padding to make the button bigger */
        font-size: 1.2rem; /* Increase font size for better readability */
    }

    /* collect */

    .mobile{
        display: none;
    }

    #three-or{
        display: none;
    }

    
    .unleash-desktop-2{
        font-size: 1rem ;
        color: white;
        position: relative;
        bottom: 200px;
        left: 3%; /* Adjust the distance from the right as a percentage of the container width */
        transform: translateY(-50%); /* Center vertically */
        /* Adjust any other styles for tablet as needed */

    }

    .backk{
    background-color: #000000;

    
}

.buy{
    margin-top: 80px;
    position: relative;
    left: 270%; /* Adjust the distance from the right as a percentage of the container width */

}

.product-view {
    justify-items: left; /* Align products to the left */
    margin-top: -600px; /* Adjust margin as needed */
    padding: 25px;
    padding-left: 50px;
    
    grid-template-columns: 1fr; /* Change to one column */
}

.products {
    justify-content: flex-start; /* Align images to the left */
    
}

.highlight-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: left; /* Align highlights to the left */
    margin-top: -520px;
    margin-bottom: 40px;
    position: relative;
        
}

.highlight {
    width: 1%;
    height: 100px;
    background-color: #F78627;
}


.bold {
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 15px;
    
    border-right: solid 4px black;
  }


  #buy-now {
    background-color: #F78627;
    padding: 25px 25px;
    color: white;
    justify-content: center;
   
    text-align: center;
    margin-top: 80px;
    }

    .words{
        margin-top: 480px;
    }

    #ign{
        padding-top: 40px;
    }

    .diss{
        justify-content: center;
        position: relative;
        margin-top: -400px;
    }

    .gre {
        background-color: #07F95C;
    }

    
.pk{
    background-color: #FF68E6;
}

.blu{
   background-color: #0FE5F8;
}

}






/* TABLET CSS STYLES END */

/* DESKTOP CSS STYLES START */
@media screen and (min-width: 1200px) {
    body {
        font-size: 2rem;
    }

    /* events */

    .unleash{
        display: none;
    }

    .unleash-desktop{
        font-size: 1rem ;
        color: white;
        position: relative;
        top: 30%; /* Center vertically */
        left: 3%; /* Adjust the distance from the right as a percentage of the container width */
        transform: translateY(-50%); /* Center vertically */
        /* Adjust any other styles for tablet as needed */

    }

    .image-overlay {
        background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    }



    .hero-container {
        width: 100%;
        height: 800px; /* Adjust height as needed */
        background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
        position: relative; /* Ensure proper positioning of child elements */
    }

    .main-image {
        /* Adjust the position of the main image as needed */
        right: 2%; /* Adjust the distance from the right as a percentage of the container width */
        /* Adjust any other styles for desktop as needed */
    }

    #black img {
        width: 50%; /* Adjust width for desktop */
        height: auto; /* Maintain aspect ratio */
    }

    #learn-more-desktop {
        display: block;
        position: absolute;
        top: 74.8%; /* Adjust vertically as needed */
        left: 5%; /* Adjust horizontally as needed */
        transform: translateY(-50%); /* Center vertically */
        padding: 25px 45px; /* Increase padding to make the button bigger */
        font-size: 1.2rem; /* Increase font size for better readability */
    }

    /* collection */

        
    .unleash-desktop-2{
        font-size: 1rem ;
        color: white;
        position: relative;
        bottom: 300px;
        left: 3%; /* Adjust the distance from the right as a percentage of the container width */
        transform: translateY(-50%); /* Center vertically */
        /* Adjust any other styles for tablet as needed */

    }

    #buy-now {
        background-color: #F78627;
        padding: 25px 25px;
        color: white;
        justify-content: center;
       
        text-align: center;
        margin-top: 150px;
        }
    
        .words{
            margin-top: 700px;
        }

        .buy{
            margin-top: 80px;
            margin-bottom: 30px ;
            position: relative;
            left: 270%; /* Adjust the distance from the right as a percentage of the container width */
            top: 20%;
            bottom: 5%;
            
        }
    
.product-view {
    justify-items: left; /* Align products to the left */
    margin-top: -750px; /* Adjust margin as needed */
    padding: 25px;
    padding-left: 50px;
    
    grid-template-columns: 1fr; /* Change to one column */
}

.products {
    justify-content: flex-start; /* Align images to the left */
    
}

.highlight-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: left; /* Align highlights to the left */
    margin-top: -600px;
    margin-bottom: 40px;
    position: relative;
        
}

.highlight {
    width: 1%;
    height: 100px;
    background-color: #F78627;
}


.bold {
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 15px;
    
    border-right: solid 4px black;
  }




    #ign{
        padding-top: 40px;
    }

    .diss{
        justify-content: center;
        position: relative;
        margin-top: -400px;
    }

    .gre {
        background-color: #07F95C;
    }

    
.pk{
    background-color: #FF68E6;
}

.blu{
   background-color: #0FE5F8;
}

}
/* DESKTOP CSS STYLES END */