@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.eot');
    src: url('../fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Black.woff2') format('woff2'),
        url('../fonts/Merriweather-Black.woff') format('woff'),
        url('../fonts/Merriweather-Black.ttf') format('truetype'),
        url('../fonts/Merriweather-Black.svg#Merriweather-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.eot');
    src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype'),
        url('../fonts/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Merriweather-Regular';
    font-size: 16px;
    
}

.no-mobile{
    display: none;
}

/* header section start */
header, nav{
    background-color: black;
    
}

#underlay-btn-txt{
    display: flex;
    align-items: center;
    z-index: 1;
    /* background-color: aqua; */
}

.mobile-tab-id{
    display:none;
}
#button img {
    margin-left: 25px;
    cursor: pointer;
   
 }

#button img.burger {
    transform: rotate(90deg);
 }

 #burger-con.opaque-toggle {
    display: block;
    animation: menu-drop 1s;
 }
 @keyframes menu-drop {
    0% {
      bottom: 310px;
      opacity: 1;
    }
    
    100% {
        bottom: 0px;
        opacity: 1;
      }
  }

#burger-con{
    display: none;
    position: relative;
    max-height: 60vh;
    color:#fff;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    z-index:2;
    bottom:0px;
}

/* =============================== */
#menu-bar{
    height: 50px;
    background-color: #000000;
    
}
#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
 }
 
 #main-nav ul li a:hover {
    color: #F78627;;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
/*==================================== */
#menu-bar{
    display: grid;
    justify-content: center;
    align-items: center;
   
}

#main-nav{
    display: grid;
    /* height: 4em; */
    align-items: center;
   
}

#head-logo{
    position: relative;
    left: 65px;
   
}

#head-logo img{
    margin-left: 40px;
    cursor: pointer;
}
#head-logo h2{
    font-family:Georgia, 'Times New Roman', Times;
    font-weight: lighter;
    font-size: 0.9em;
    color: #F78627;
    letter-spacing: 0.09em;
    width:120px;
    margin-left: 80px;
}

#popup-footer{
    margin-top: 100px;
    display: grid;
    justify-items: center;
    margin-bottom: 30px;
}
#popup-footer p{
   font-style: italic;
   font-size: 10px;
   letter-spacing: 2px;
}

.profile-circle{
    display:none;
}
#cart-1{
    display:none;
}
/* header section end */






/* TABLET CSS STYLES START */
@media screen and (min-width: 768px) {
    body {
        font-size: 140%;
     }

}
/* TABLET CSS STYLES END */


/* DESKTOP CSS STYLES START */
@media screen and (min-width: 1200px) {
    body {
        font-size: 180%;
     }

}
/* DESKTOP CSS STYLES END */