@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.eot');
    src: url('../fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Black.woff2') format('woff2'),
        url('../fonts/Merriweather-Black.woff') format('woff'),
        url('../fonts/Merriweather-Black.ttf') format('truetype'),
        url('../fonts/Merriweather-Black.svg#Merriweather-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.eot');
    src: url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype'),
        url('../fonts/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Merriweather-Regular';
    font-size: 16px;
}

header{
    position: static;
}

.no-mobile{
    display: none;
}

/* header section start */
header, nav{
    background-color: black;
    
}

.underlay-btn-txt{
    
    z-index: 1;
}
.no-mobile-profile{
    display: none;
}

.mobile-tab-id{
    display:none;
}
#button img {
    display: grid;
    grid-column: 1;
    margin-left: 16px;
    cursor: pointer;
   
 }

#button img.burger {
    transform: rotate(90deg);
 }

 #burger-con.opaque-toggle {
    display: block;
    animation: menu-drop 1s;
 }
 @keyframes menu-drop {
    0% {
      bottom: 310px;
      opacity: 1;
    }
    
    100% {
        bottom: 0px;
        opacity: 1;
      }
  }

#burger-con{
    display: none;
    /* position: relative; */
    max-height: 100%;
    color:#fff;
    background-color: rgb(0, 0, 0);
    z-index:2;
    bottom:0px;
    /* filter: blur(5px); 
  opacity: 0.7;  */
}


/* =============================== */
#menu-bar{
    height: 50px;
    background-color: #ffffff;
    
}
#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
 }
 
 #main-nav ul li a:hover {
    color: #F78627;;
 }
 
 #main-nav  ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
/*==================================== */
#menu-bar{
    display: grid;
    justify-content: center;
    align-items: center;
   
}

#main-nav{
    padding-top: 10px; 
    height: 75px;
    align-items: center;
   
}
#head-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#head-logo a img{
    padding-left: 16px;
    cursor: pointer;
}
#head-logo h2{
    font-family:Georgia, 'Times New Roman', Times;
    font-weight: lighter;
    font-size: 1.125rem;
    color: #F78627;
    letter-spacing: 0.09rem;
    width:120px;
    margin-left: 80px;
}

#popup-footer{
    margin-top: 100px;
    display: grid;
    justify-items: center;
    margin-bottom: 30px;
}
#popup-footer p{
   font-style: italic;
   font-size: 10px;
   letter-spacing: 2px;
}

.profile-circle{
    display:none;
}
.cart-1{
    z-index: 1;
}

/* header section end */



/* video css ------------------------------------------*/

.video-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  video {
    width: 100%;
    height: auto;
  }

/* learn more button ----------------------------------*/
#learn-more {
    background-color: #F78627;
    padding: 15px 20px;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
/* ----------------------------------------- */
#buy-now {
        background-color: #F78627;
        padding: 25px 25px;
        color: white;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        }

/* home */

.testy {
    margin-top: 40px;
    margin-bottom: 40px;
}

.right-side {
    margin-top: 40px;
}

    

/* Events Mobile */
#hero-con {
    background-image: url(../images/) ;
}

/* collections */

.collect-p{
    margin: 20px;
    text-align: center;
}

.collect-pp{
    margin: 20px;
    text-align: right;
}

.collect-ppp{
    margin: 20px;
    text-align: left;
}

.line {
    height:6px;
    background-color: black;
    margin-top: 80px;
    margin-bottom: 40px;
}

#three-or {
    margin-top: 40px;
}

#black {
    margin-top: 40px;
    background-color: black;
    position: relative;
}

#black img {
    width: 100%;
    height: auto; /* To maintain aspect ratio */
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#buy{
    margin-top: 80px;
    padding-left: 30px;
}
.product-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between grid items */
    justify-items: center; /* Center grid items horizontally */
    margin-top: 4 0px;
    padding: 20px;
}

.products {
    
    padding: 20px; /* Add padding to each product */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center image horizontally */
}

.products img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
}

.highlight {
    height: 4px;
    background-color: #F78627;
    flex: 1; /* Flex-grow: each highlight item takes up equal space */
    margin: 0 10px; /* Adjust spacing between highlight items */
}

.highlight-main {
    display: flex;
    justify-content: center; /* Center highlight items horizontally */
    margin-top: 20px; /* Adjust margin as needed */
    margin-bottom: 40px;
}

.bold {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  padding-top: 15px;
  border-right: solid 4px black;
}

.contact-us {
    margin: 40px;
    padding-top: 25px;
   
}

/* contact form */

#contact-us-main {
    margin-top: 80px ;
}

#contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 
 #contact .grid-con > div {
    width: 240px;
    margin: 0 auto;
 }


 #contact-hero-con .grid-con {
    /* tell other grid to live in middle column */
    grid-column: 2/3;
    /* also tell it to stay in first rown instead of another row below
    to allow overlap to happen */
    grid-row:1/1;	
    /* get rid of margin 0 auto from original class */
    margin: 0;
}

#contact-hero {
   object-fit: cover;
   /* First value controls the x-axis and the second value controls the y-axis,Default value:	50% 50% */
   object-position: center;
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid black;
   background-color: #f7f7f7;
   border-radius: 3px;
   margin-bottom: 30px;
   font: inherit;
   width: 100%;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form input[type="submit"] {
   padding: 15px 20px;
   background: #F78627;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   background-color: black;
   color: #F78627;
   border-radius: 0;
}

/* footer start mobile*/
#overlap-footer{
    font-family: 'Roboto';
    padding-top:15px;
    margin-top: 20px;
    background-color: #000;
}

#txt-logo{

    justify-self: center;
}
#overlap-footer .brand-name-footer{
    font-size: 1rem;
    color: #fff;
    margin-top: 30px;
    font-size: 3.375rem;
    text-transform: uppercase;
    letter-spacing: 4px; 
}

#footer-main-links ul {
    display: block;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin-bottom: 14px;
    letter-spacing: 4px; 
    font-size: 1rem;
    text-transform: uppercase;
 }
 #footer-main-links ul li {
    border-bottom: unset;
}
 
 #footer-main-links ul li a {
    display: flex;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
 }
 
 #footer-main-links ul li a:hover {
    color: #F78627;
 }
 
label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 280px; 
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  #overlap-footer .footer-news p{
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}  
.footer-news{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.footer-news p{
    margin-bottom: 50px;
    margin-left: -20px;
    letter-spacing: .24rem;
}
/* Submit button start */
form {
    margin-bottom: 20px; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 350px; 
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    position: relative; 
    width:170px;
    height:60px;
    padding: 10px 20px;
    background-color: #F78627;
    color: #fff; 
    border: none;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  button:hover {
    color:#000;
    transition: top 0.3s ease; 
  }
  .footer-news button{
    margin-top: 20px;
  }
  /* submit button end */
#zima-social{
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#zima-social a img:hover{
    filter: brightness(0.5);
}

#footer-rights p{
    margin-top: 65px;
    margin-bottom: 40px;
    display: flex;
    color:#fff;
    font-size: .625rem;
    text-align: center;
}
/* footer end mobile*/


/* TABLET CSS STYLES START */
@media screen and (min-width: 768px) {
    .no-mobile-profile{
        display: block;
    }
    #popup-footer{
        display: none;
    }
    #menu-bar{
        display: none;
    }
    .sub-nav{
        display: none;
    }
    .no-tablet-desktop{
        display: none;
    }
    body {
        font-size: 140%;
     }
#burger-con{
    grid-row: 1;
    list-style: none;
    display: inline;
    background-color: unset;
}
     .image-overlay {
        background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    }
    /* header list nav start */
    #button {
        display: none;
     }

     #head-logo{
        display: unset;
        /* justify-content: center; */
        /* flex-wrap: wrap; */
    }
    .vertical-line {
        grid-row: 1;
        display:block;
        width: 5px; 
        height: 60px; 
        background-color: rgb(255, 255, 255); 
    }
    
    #head-logo a img{
        cursor: pointer;
        
    }
   
    #main-nav{
        height: 75px;
    }

    #main-nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
     }
     #main-nav ul li {
        border-bottom: unset;
    }
     
     #main-nav ul li a {
        display: inline;
        padding: 10px 0 10px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
     }
     
     #main-nav ul li a:hover {
        color: #F78627;
     }
     
     
     
     #main-nav ul li:first-child {
        border-top: unset;
     }
     
     #main-nav ul li:last-child {
        margin-bottom: 10px;
     }

#user-profile{
    grid-row: 1;
    display:flex;
    font-size: .875rem;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#user-profile a {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#user-profile a:hover {
    color: #F78627;
}

.profile-circle{
    display:block;
}
     .profile-circle {
        /* display: unset; */
        background-color: aliceblue;
        width: 60px;
        height: 60px;
        border-radius:  100%;
        overflow: hidden;
        padding-bottom: 10px;
        /* display: flex; */
      }
      
      .profile-picture {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
      .cart-1{
        display:block;
        /* width: 20px; */
        /* height: 20px; */
      }
     
/* footer start Tablet*/
#footer-hero{
    background-color: #000;
}
#overlap-footer{
    font-family: 'Roboto';
    padding-top:15px;
    margin-top: 20px;
    background-color: #000;
}

#txt-logo{
    margin-left: 300px;
display: flex;
    /* justify-self: center; */
}
#txt-logo p{
    margin-left: 270px;
}


#footer-main-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 130px;
    flex-wrap: wrap;
 }
 #footer-main-links ul li {
    border-bottom: unset;
}
 
 #footer-main-links ul li a {
    display: flex;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
 }
 
 #footer-main-links ul li a:hover {
    color: #F78627;
 }
 
label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 280px; 
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  #overlap-footer .footer-news p{
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}  
.footer-news{
    grid-row:2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.footer-news p{
    margin-bottom: 30px;
    margin-left: 90px;
}
/* Submit button start */
form {
    margin-bottom: 20px; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 350px; 
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    position: relative; 
    width:170px;
    height:75px;
    padding: 10px 20px;
    background-color: #F78627;
    color: #fff; 
    border: none;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  button:hover {
    color:#000;
    transition: top 0.3s ease; 
  }
  .footer-news button{
    margin-left: 20px;
    margin-top: unset;
  }
  /* submit button end */
#zima-social{
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#zima-social a img:hover{
    filter: brightness(0.5);
}

#footer-rights p{
    margin-top: 65px;
    margin-bottom: 40px;
    display: flex;
    color:#fff;
    font-size: .625rem;
    text-align: center;
}
/* footer end Tablet*/




}
/* TABLET CSS STYLES END */


/* DESKTOP CSS STYLES START */
@media screen and (min-width: 1200px) {
    body {
        font-size: 2rem;
     }

     .image-overlay {
        background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    }

    #learn-more {
        padding: 30px 50px; /* Increase padding to make the button bigger */
        font-size: 1.5rem; /* Increase font size for better readability
         */
         margin-bottom: 100px;
    }

}
/* DESKTOP CSS STYLES END */